<div class="w-full flex flex-col justify-between items-start pb-4">
   <div *ngFor="let option of weeklyOptions" class="m-1 w-full max-w-[95%]">
    <mat-checkbox
      class="example-margin"
      [checked]="option.selected"
      (change)="onWeeklyCtrl(option)">
      {{ option.id | uppercase }}
    </mat-checkbox>
    <div *ngIf="option.selected" class="mt-3 mb-3 ml-7">
      <time-range-slider
        [initialTimes]="option.times"
        (updatedTimes)="updateOptionTimes(option, $event)"
        (changesMade)="updateChangesMadeValue($event)">
      </time-range-slider>
    </div> 
  </div>
  <button mat-raised-button (click)="saveTimes()">Save time</button>
</div>

<router-outlet></router-outlet>
